<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
    <webhookUri>https://discord.com/api/webhooks/1080177307286773780/usNx5IFhrWb_ybwxbATrR7gJ56n9odmvd3H0KErecBOdtSSDyS6CxDOv0KW5yBotUCHu</webhookUri>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>`%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg`%n%replace(%ex){'(?s).*\n(.*)', '```$0```'}%nopex</pattern>
    </layout>
    <tts>false</tts>
  </appender>

  <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="DISCORD" />
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <filter class="ch.qos.logback.classic.filter.RegexFilter">
    <regex>.*Failed to get world.*</regex>
      <onMatch>DENY</onMatch>
      <onMismatch>NEUTRAL</onMismatch>
    </filter>
  </appender>

  <logger name="club.minnced.discord.webhook.WebhookClient" level="ERROR" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <root level="INFO">
    <appender-ref ref="ASYNC_DISCORD" />
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
